/* styles.css */
/*.button {*/
/*    -fx-background-color: #2196f3;*/
/*    -fx-text-fill: white;*/
/*    -fx-padding: 10 20;*/
/*    -fx-font-size: 14px;*/
/*}*/

/*.button:hover {*/
/*    -fx-background-color: #64b5f6;*/
/*}*/
.root {
    -fx-background-color: #00e5ff;
    -fx-font-size: 13px;
}

.button {
    -fx-background-color: #2196f3;
    -fx-border-color: #000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-width: 200px;
    -fx-height: 50px;
}

.button:hover {
    -fx-background-color: #64b5f6;
    -fx-background-size: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 17px;
    -fx-padding: 6px;
    -fx-width: 200px;
    -fx-height: 50px;
    -fx-cursor: hand;
}


.label {
    -fx-text-fill: #530394;
    -fx-font-weight: bold;
}

.drawing-area{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 2px;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #0073e6;
    /*-fx-border-width: 2px;*/
    /*-fx-font-size: 14px;*/
    /*-fx-padding: 5px 10px;*/
}

/*.combo-box .arrow-button {*/
/*    -fx-background-color: #cecece;*/
/*    -fx-padding: 5px;*/
/*}*/

/*.combo-box .arrow-button:hover {*/
/*    -fx-background-color: #ddd;*/
/*}*/

.combo-box-popup {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.combo-box-popup .list-view {
    -fx-background-color: #000;
}

.combo-box-popup .list-cell {
    -fx-background-color: #2196f3;
    -fx-padding: 5px 10px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #060270;
}


.canvas {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 2px;
}


.dialog-pane {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #2196f3;
    -fx-border-width: 2px;
    -fx-padding: 10;
}